{% extends 'layout.html' %}

{% block body_class %}recommendation{% endblock %}
{% block current_tab %}recommendation{% endblock %}

{% block main_content %}
<h1>成员推荐书籍</h1>
<ul class="books">
   {% for tmp in reco_book %}
   <li class="book">
      <div class="book-cover">
          <a href="{{ tmp.book_id }}"><img src="{{ tmp.book_img_url }}"</img></a>
      </div>

      <div class="book-info">
          <div class="book-name">
              书名: <a href="{{ tmp.book_id }}">{{ tmp.book_title }}</a>
          </div>
          <div class="book-author">
              作者：
                {{ tmp.book_author }}<br/>
          </div>
          <div class="reco_people">
             推荐成员：
             {{ tmp.book_recommender }}
          </div>
      </div>
   </li>
   {% endfor %}

</ul>

<div class="pagination">
   <span class="step-links">
      {% if page.has_previous %}
      <a href="?page={{ page.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
         Page {{ page.number }} of {{ page.paginator.num_pages }}.
      </span>
      {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}">next</a>
      {% endif %}
   </span>
</div>
{% endblock main_content %}
